body {	
	background: -webkit-linear-gradient(90deg, rgb(235, 236, 203), rgb(216, 191, 144));
	background: linear-gradient(90deg, rgb(235, 236, 203), rgb(216, 191, 144));
}

.nav-item {
	line-height: 45px;
}

.logo {
	height: 5vh;
}



.form-control {
	border-radius: 0;	
}

.btn {
	border-radius: 0;
}

.card {
   border-radius: 0;
}

.owl-carousel {
  background: -webkit-linear-gradient(90deg, rgb(235, 236, 203), rgb(216, 191, 144));
  background: linear-gradient(90deg, rgb(235, 236, 203), rgb(216, 191, 144));  
}

#shiva
{
  width: 100px;
  height: 100px;
  background-color: rgb(0, 123, 255);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float:left;
  margin:30px;
}
.count
{
  line-height: 100px;
  color:white;
  margin-left:5px;
  font-size:25px;
}

.footer {
	background-color: #343a40;
	padding: 3%;
}
/*vasya*/
#body_admin1{
	height: 100vmin;
}

#butonu{
	height: 100vmin;;
}