body {	
	background: -webkit-linear-gradient(0deg, rgb(246, 246, 246), rgb(246, 246, 246));
	background: linear-gradient(0deg, rgb(246, 246, 246), rgb(246, 246, 246));
}

.nav-item {
	line-height: 45px;
}

.logo {
	height: 7vh;
}



.form-control {
	border-radius: 0;	
}

.btn {
	border-radius: 0;
}

.card {
   border-radius: 0;
}

.owl-carousel {
  background: -webkit-linear-gradient(0deg, rgb(246, 246, 246), rgb(246, 246, 246));
  background: linear-gradient(0deg, rgb(246, 246, 246), rgb(246, 246, 246)); 
}

#shiva
{
  width: 200px;
  height: 200px;
  background-color: rgb(0, 123, 255);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  float:left;
  margin:50px;
}
.count
{
  line-height: 100px;
  color:white;
  font-size:40px;
}

.footer {
	background-color: #343a40;
	padding: 3%;
}
/*vasya*/
#body_admin1{
	height: 100vmin;
}

#butonu{
	height: 100vmin;;
}